* {
    font-family: "Calibri", sans-serif;
    margin: 0;
    padding: 0;
}



header,
.intro {
    background-color: #058c6a;
    display: flex;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 50px;
}

/* header */

header {
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.logo {
    width: auto;
    height: 80px;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 48px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* intro */

.intro h2 {
    font-weight: 800;
    font-size: 32px;
    margin: 0;
}

.intro {
    justify-content: center;
    gap: 50px;
}

.intro img {
    width: auto;
    height: 300px;
}

.intro .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}